h1{
    text-align: center;
    text-transform: capitalize;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}
*{
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
}