body{
    /* text-align: right; */
    text-align: center;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-decoration: overline;
     text-decoration: line-through;
}
a{
    text-decoration: none;
} 