div{
    height: 150px;
    width: 150px;
    background-color: aqua;
    /* margin: 10px; */
    /* text-align: center; */
    padding-left:10px;
    /* padding: auto; */
    /* padding-top: 50px; */
    
    
    /* border-radius:100px; */
        border-radius: 10px;
}
#one{
    /* border-radius: 10px; */
        text-align: center; 
        text-align: center;
        border-radius: 50%;
   
      

}
/*  TL-2801202621608 */