div{
    height: 100px;
    background-color: antiquewhite;
}
h1{
    width: 200px;
    border: 2px dashed red ;
    background-color: blanchedalmond;
    text-align:center;
    border-radius: 200px;
}
button{
    border-radius: 50px;
}